[project]
name = "learn-claude-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "anthropic>=0.75.0",
    "dotenv>=0.9.9",
    "numpy>=2.4.0",
    "pygame>=2.6.1",
]
